/* ヘッダー */

.header {
    background-color: #D9D9D9;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.userNav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 32px;
}

.userNav button {
    background-color: #383838;
    color: white;
    border: none;
    width: 180px;
    height: 60px;
    font-size: 25px;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
}

.profileAvatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#BABABA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userIcon {
    width: 35.75px;
    height: 41.96px;
    color: #151515;
    fill: currentColor;
    display:block;
}



/* Title */

.title {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
    gap: 50px;
    font-size: 75px;
    width: 1462px;
}

.title input {
    font-size: 75px;
    flex: 1;
    border: none;
    outline: none;
}


/* 画像アップロード欄 */

.uploadArea {
    border: 2px dotted #000000;
    width: 1462px;
    height: 602px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.uploadIcon {
    width: 100px;
    height: 108px;
    color: #94A2AB;
    margin-bottom: 100px;
}

.iconWrapper button {
    width: 377px;
    height: 123px;
    background-color: #18A0FB;
    color: white;
    font-size: 33px;
    border: none;
    border-radius: 75px;
    cursor: pointer;
}


/* カテゴリー */

.category {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1462px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 16px;
}

.category label {
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.category select {
    width: 240px;
    height: 40px;
    border-color: #D9D9D9;
    border-radius: 7px;
}


/* 本文　入力欄 */

.contentWrapper {
    width: 1462px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 30px;
    background-color: #D9D9D940;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 40px 55px;
}

.contentWrapper textarea {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
}


/* ボタン */

.createButton {
    margin-left: auto;
    margin-right: auto;
    width: 1462px;
    display: flex;
    justify-content: flex-end;
}

.createButton button {
    width: 300px;
    height: 60px;
    background-color: #18A0FB;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 100px;
    cursor: pointer;
}