.wrapper {
  width: 580px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px auto 58px;
}

.input {
  flex: 1;
  height: 100%;
  background-color: rgba(132, 132, 132, 0.24);
  border: none;
  padding: 0 50px;
  border-radius: 50px;
  font-size: 14px;
  outline: none;
  font-family: var(--font-geist-sans);
  box-sizing: border-box;
}

.input::placeholder {
  font-family: var(--font-geist-sans);
  color: #000;
  opacity: 1;
}

.iconButton {
  width: 42px;
  height: 42px;

  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
  background: transparent;
}

.iconButton:hover .icon {
  opacity: 0.7;
}
